@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("Montserrat-Italic-VariableFont_wght.ttf");
  font-style: italic;
  font-display: swap;
}